element.style {
}
:root {
    --dark-color: #000;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
hoja de estilo del agente de usuario
:root {
    view-transition-name: root;
}
hoja de estilo del agente de usuario
html {
    display: block;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
